<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Domain</th>
      <th>Secure Url</th>
      <th>Admin Email</th>
      <th>Order Email</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= store_info["name"] %></td>
      <td><%= store_info["domain"] %></td>
      <td><%= store_info["secure_url"] %></td>
      <td><%= store_info["admin_email"] %></td>
      <td><%= store_info["order_email"] %></td>
      <td><%= store_info["country"] %></td>
    </tr>
  </tbody>
</table>